.side-menu {
    height: 100vh;
    background-color: var(--light-font-color);
    border-left: var(--beer-description-color);
    box-shadow: 0 0 3px var(--beer-description-color);
    
    .side-menu__header {
        background-color: var(--app-sidebar-color);
        color: var(--light-font-color) ;
        padding: var(--default-space) var(--biggest-space) var(--large-space) var(--default-space);
        
    }
    
    .side-menu__nav-bar {
        padding: var(--default-space) var(--biggest-space) var(--default-space) var(--medium-space);
        list-style-type: none;
        color: var(--beer-description-color);
    }

    .side-menu-navigation__link {
        text-decoration: none;
        color: var(--beer-description-color);
    }
    .side-menu-navigation__list-item {
        margin-top: var(--small-space);
    }
}



