.menu-button {
    display: inline-block;
    background: url('../../img/burgerButton.svg') no-repeat top;
    background-size: 32px;
    width: 32px;
    height: 32px;    
    border:none;
    margin: 13px;

    .menu-button:hover {
        background-position: -10px -83px;
    }
    
    .menu-button:active {
    
        background-position: -10px -153px;
    }    
}


