.beer-card-content {
    background-color: var(--beer-description-color);   
    height: 100%;
    width: 100%;
    padding: var(--default-space);
    
    .beer-card-content__favorites-button {
        margin-top: var(--default-space);
        margin-left: var(--default-space);
    }
    
    .beer-card-content__open-button {
        margin-top: var(--default-space);
    }

    .beer-card-content__title {
        margin-top: var(--small-space);
    }

    .beer-card-content__button-panel {
        flex-grow: 1;
        justify-self: flex-end;
    }
}



