@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.app {
  
  --beer-title-color: #00AEDA;
  --beer-description-color: #7F7F7F;
  --primary-color: #5183f5;
  --font-color: #2B2B2B;
  --light-font-color: #F2F7FC;
  --app-sidebar-color: #106CC8;


  --sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --error-color: #f2777a;
  
  --small-space: 5px;
  --medium-space: 40px;
  --big-space: 100px;

  --border-width-standard: 2px;
  
}
.font-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: medium;
}
.font-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: medium;
}

.font-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: medium;
}

.font-h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: x-large;

}

.font-h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: small;
}
