.favorites-card-content {
    
    height: 100%;
    width: 100%;
 
    .favorites-card-content__favorites-button {
        margin-top: 20px;
        margin-left: 20px;
    }
    
    .favorites-card-content__open-button {
        margin-top: 20px;
    }

    .favorites-card-content__title, .favorites-card-content__tagline {
        margin-top: var(--small-space);
    }

    .favorites-card-content__description {
        margin-top: var(--default-space);
    }

    .favorites-card-content__tagline {
        color: var(--beer-description-color);
    }
}
