.favorites-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
    .favorites-card-content__favorites-button {
        margin-top: var(--default-space);
        margin-left: var(--medium-space);
        color: var(--font-color);
    }
    
    .favorites-card-content__open-button {
        margin-top: var(--default-space);
        color: var(--font-color);
    }

    .favorites-card-content__title, .favorites-card-content__tagline {
        margin-top: var(--small-space);
    }

    .favorites-card-content__description {
        margin-top: var(--default-space);
    }

    .favorites-card-content__tagline {
        color: var(--beer-description-color);
    }
    .favorites-card-content__button-panel {
        align-self: flex-start;
        flex-grow: 1;
        justify-self: flex-end;
    }
}
