.slider-filter {
    padding: var(--small-space);
    display: flex;
    justify-content: start;
    .sliderFilter__slider {
        width: 200px;
        height: 2px;
        margin-left: 100px;
        align-self: center;
        
    }
}