.advanced-filter {
    display: flex;
    flex-direction: column;
    padding: var(--medium-space);

    .advanced-filter__title {
        align-self: center;
        margin-bottom: var(--default-space);
    }
}