@import '../../styles/_variables.css';

// --small-space: 5px;
// --medium-space: 40px;
// --big-space: 100px;

.beer-card {
    background-color: var(--beer-description-color);
    box-sizing: border-box;
    border: 1px black;
    height: 170px;
    width: 500px;
    display: inline-block;
    margin: var(--medium-space) 1px 1px var(--big-space);
    
}