@import '../../styles/_variables.css';

.header {
    background-color: var(--app-sidebar-color);
    box-shadow: 0 0 0 1px var(--primary-color);
    font-size: medium;
    width: 100%;
    padding: 10px;
    color: var(--light-font-color);
    }
