@import '../../styles/_variables.css';

.header {
    background-color: var(--app-sidebar-color);
    box-shadow: 0 0 0 1px var(--primary-color);
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   
    };
