@import '../../styles/_variables.css';

.header {
    background-color: var(--app-sidebar-color);
    box-shadow: 0 0 0 1px var(--primary-color);
    width: 100%;
    padding: 20px;
    color: var(--light-font-color);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .header__title {
        margin-left: 30px;
    }

    }
