.layout {
  .layout__header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }
  .layout__side-menu {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      
  
  }
  .layout__side-menu-block {
    position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      
  }
}
